@import "variable";

.items {

  margin-bottom: 20px;

  img {
    height: 252px;
  }

  .item__info {
    text-decoration: none;
    color: $color-dark;

    &:hover {
      color: $color-primary;
    }
  }

}